* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
}

.topnav {
  position: fixed;
  top:0;
  background-color: forestgreen;
  opacity: 0.7;
  width: 100%;
  padding: 0 0 0 50px;
}

.topnav:hover {opacity: 1}

.topnav a {
  float: left;
  display: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.250em;
  font-weight: bold;
  color: white;
}

.topnav a.icon {
  float: right;
  display: inline;
  margin-top: -5px;
  margin-right: 40px;
}

a.logo {
  float:none;
  display:inline;
  margin: 0;
}

.topnav.responsive {position: relative;}

.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

.topnav a:hover {
  background-color: lightgreen;
  color: black;
}

.topnav a.active {
  background-color: darkgreen;
  color: white;
}

.dropmenu {
  position: relative;
  display: inline-block;
}

.droptext {
  display: none;
  position: absolute;
  background-color: forestgreen;
  top:50px;
  text-align: center;
}

.dropmenu:hover .droptext {
  display: block;
}


[class*="col-"] {
  float: left;
  padding: 15px;
  box-sizing: border-box;
}

h1 {
text-align: center;
font-weight: bold;
font-size: 58px;
margin-top: 50px;
}

h2 {
font-size: 34px;
}

h3 {
font-size: 30px;
}

h4 {
font-size: 22px;
}

[class*="col-"] {
  padding: 15px;
}

footer {
  color: white;
  background-color: forestgreen;
  overflow:auto;
  width: 100%;
  padding: 0 10px;
}

/* For mobile phones: */
[class*="col-"] { max-width: 100%; }

.col-8 { max-width: 50%; }
.col-4 { max-width: 50%; }

@media only screen and (min-width: 600px) {
  /* For tablet: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .topnav a {
    float: left;
    display: block;
  }

  .topnav a.icon {display:none}

  a.logo {
    margin-right: 150px;
    margin-top: 5px;
    float: right;
    padding: 0;
  }
}


@media only screen and (min-width: 860px) {
  /* For desktop */
  .col-t-1 {width: 8.33%;}
  .col-t-2 {width: 16.66%;}
  .col-t-3 {width: 25%;}
  .col-t-4 {width: 33.33%;}
  .col-t-5 {width: 41.66%;}
  .col-t-6 {width: 50%;}
  .col-t-7 {width: 58.33%;}
  .col-t-8 {width: 66.66%;}
  .col-t-9 {width: 75%;}
  .col-t-10 {width: 83.33%;}
  .col-t-11 {width: 91.66%;}
  .col-t-12 {width: 100%;}