* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
}

nav { 
  position: fixed;
  top: -15px;
  left: 0;
  opacity: 0.7;
  width: 100%;
}

nav:hover {
  opacity: 1;
} 

header ul {
  background-color: forestgreen;
  list-style-type: none;
}

header li {
  padding: 10px 15px;
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

header li a{
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
}

.active {
  background-color: darkgreen;
}

.logo {
  padding: 0;
} 

header li:hover {
  background-color: darkgreen;
  color: white;
}

.dropmenu {
  position: relative;
  display: inline-block;
}

.menutext {
  display: none;
  position: absolute;
  background-color: forestgreen;
  margin: 0px 0 0 0;
}

.dropmenu:hover .menutext {
  display: block;
}

.dropmenu:hover .menutext li {
  font-seize: 18px;
  font-weight: normal;
  display: block;
}

.dropmenu:hover .menutext a {
  display: block;
  padding: 2px 20px;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  box-sizing: border-box;
}

h1 {
text-align: center;
font-weight: bold;
font-size: 58px;
margin-top: 50px;
}

h2 {
font-size: 34px;
}

h3 {
font-size: 30px;
}

h4 {
font-size: 22px;
}

[class*="col-"] {
  padding: 15px;
}

footer {
  color: white;
  background-color: forestgreen;
  overflow:auto;
  width: 100%;
  padding: 0 10px;
}

/* For mobile phones: */
[class*="col-"] { max-width: 100%; }

.col-8 { max-width: 66,6% }
.col-4 { max-width: 50%; }

@media only screen and (min-width: 500px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

header li {
  float: left;
}

.menutext {
  margin: 45px 0 0 0;
}
}
